body{
	margin: 0px;
	padding: 0px;
	background: #FFFFFF;
}

header{
	background: url('../img/fondo-header-2.png') left top repeat-x;
	border-radius: 15px;
	border: 0px solid black;
	display: block;
	height: 190px;
	margin-top: 5px;
	width: 100%;
}
header h3{
	float: right;
	margin-right: 250px;
	margin-top: 50px;
}
#logo-header img{
	width: 300px;
	height: 120px;
	margin: 20px 0px 0px 30px;
}
article{
	border: 1px solid black;
	height: 600px;
	margin:7px 0px 3px 0px;
	position: relative;
}
aside{
	width: 20%px;
	float:left;
}
section{
	width: 80%;
	float:right;
	
}
footer{
	background-color: black;
	border-radius: 15px;
	border: 0px solid black;
	color: gray;
	height: 100%;
	margin:7px 0px 3px 0px;
}
footer h1{
	display: inline-block;
	margin: 25px;
}
footer p{
	display: inline;;
	margin-left: 20px;
	font-size: 18px;
	font-weight: bold;
}
footer ul{
	height: 40px;
}
footer ul li{
	display: inline-block;
}
footer ul li:first-child{
	margin-left: 10px;
}
footer ul li a,footer ul li a span{
	text-decoration: none;
	font-size: 20px;
	color: #FF0000;
}
footer ul li a span{
	margin-left: 50px;
}
#facebook{
	width: 250px;
	height: 100%;
}
#facebook img{
	width: 50px;
	height: 50px;
	margin-left: 70px;
}

#menu{
	display: inline-block;
	height: 50px;
	vertical-align: top;
	width: 100%;
}

#menu ul,footer ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

#menu ul li,footer ul li{
	display: inline-block;
	height: 100%;
	border: 0px solid #CCC;
	padding: 0px 30px;	
}

#menu ul li:first-child{
	margin-left:15px; 
}

#menu ul li a{
	border-radius: 10px;
	color: black;
	text-align: none;
	display: inline-block;
	font-size: 24px;
	text-decoration: none;
	padding: 5px 30px;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-e-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

#menu ul li a:hover{
	background-color: #555555;
	border-radius: 10px;
	
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-e-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

#wrapper{
	width: 960px;
	margin: 0 auto;
}

.carro{
	border: 0px solid black;
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgb(0,0,0) ;
	display: inline-block;
	margin-top: 10px;
	margin-right: 15px;
	width: 300px;
	height: 320px;

}
.carro div a img{
	height: 240px;
	width: 290px;
	margin: 5px 0px 0px 5px;
}
.carro div h5{
	display: inline-block;
	font-size: 18px;
	margin: 10px 0px 0px 5px;	
}
.carro div p{
	margin: 10px 0px 0px 5px;	
}